$themes: (
    miamotheme: (
        name: "miamo",
        miamo: (
            white: #ebe0cc,
            black: #17181e,
            background: #bd91f7,
            footer: #df77f4,
        ),
    )
);
