<style>
    .dopeomax {
        gap: 3rem;
        width: 100%;
        height: 100%;
        background-color: #fff;
        background-image: url('assets/sprites/minigames/dopeomax/background.png');
        background-size: 100% 100%;
    }

    .dopeomax__syringe {
        position: absolute;
        width: 8%;
        left: 0;
        right: 0;
        top: -17%;
        margin: auto;
        height: 100%;
        transform: rotate(78deg);
        transition: transform 800ms 1500ms;
    }
    .dopemax__syringe-flip {
        transform: scaleX(-1) rotate(78deg);
    }

    .dopeomax__syringe-liquid {
        width: 87%;
        height: 0%;
        position: absolute;
        bottom: 33%;
        background-color: #ae2be27b;
        right: 6%;
        transition: height 900ms;
    }

    .dopeomax__full {
        height: 40%;
    }

    .dopemax__syringe-top {
        position: absolute;
        top: 15%;
        left: 0;
        right: 0;
        width: 100%;
        height: 50%;
        transition: top 700ms;
          cursor: url("../assets/sprites/pointer.cur"), pointer;

    }

    .dopemax__syringe-up {
        top: -20%;
    }

    .dopemax__syringe-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 75%;
    }
</style>

<div class="dopeomax">
    <div class="dopeomax__syringe">
        <img class="dopemax__syringe-bottom" src="assets/sprites/minigames/dopeomax/syringeBottom.png" alt="seringue"
            draggable="false">
        <div class="dopeomax__syringe-liquid"></div>
        <img class="dopemax__syringe-top" src="assets/sprites/minigames/dopeomax/syringeTop.png" alt="seringue"
            draggable="false">
    </div>
</div>