<style>
    .illustrejambon {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        background-image: url('assets/sprites/minigames/illustrejambon/background.png');
        background-size: 100% 100%;
    }

    .illustrejambon__items {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .illustrejambon__bouquet {
        width: 30%;
        cursor: grab;
    }

    .illustrejambon__bubble {
        position: absolute;
        width: 40%;
        right: 0;
        bottom: 35%;
    }

    .illustrejambon__jambon {
        position: absolute;
        right: 19%;
        width: 50%;
        bottom: 11%;
    }
</style>

<div class="illustrejambon">
    <div class="illustrejambon__items">
        <img src="assets/sprites/minigames/illustrejambon/bouquet.png" alt="joli bouquet de JAMBON" id="jambon1"
            class="illustrejambon__bouquet">
        <img src="assets/sprites/minigames/illustrejambon/bouquet.png" alt="joli bouquet de JAMBON" id="jambon2"
            class="illustrejambon__bouquet">
        <img src="assets/sprites/minigames/illustrejambon/bouquet.png" alt="joli bouquet de JAMBON" id="jambon3"
            class="illustrejambon__bouquet">
        <img src="assets/sprites/minigames/illustrejambon/bouquet.png" alt="joli bouquet de JAMBON" id="jambon4"
            class="illustrejambon__bouquet">
    </div>
    <img src="assets/sprites/minigames/illustrejambon/hungry.gif" alt="LILLUSTRE PAVET DE JAMBON"
        class="illustrejambon__jambon" draggable="false">
    <img src="assets/sprites/minigames/illustrejambon/bubble.gif" alt="LILLUSTRE PAVET DE JAMBON"
        class="illustrejambon__bubble" draggable="false">
</div>