<style>
    .pizzaquiz {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        transform-origin: bottom;
        width: 100%;
        height: 100%;
        background-image: url('assets/sprites/minigames/pizzaquiz/background.gif');
    }

    .pizzaquiz__player {
        width: 43%;
        position: absolute;
        left: 0;
        top: 25%;
    }

    .pizzaquiz__question {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: url('assets/sprites/minigames/pizzaquiz/question.gif');
        background-size: 100% 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10%;
        padding-bottom: 5%;
    }

    .pizzaquiz__answsers {
        width: 60%;
        height: 30%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .pizzaquiz__answser {
        width: 50%;
        height: 50%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('assets/sprites/minigames/pizzaquiz/answer.gif');
        background-size: 100% 100%;
          cursor: url("../assets/sprites/pointer.cur"), pointer;

    }
</style>

<div class="pizzaquiz">
    <div class="pizzaquiz__question">
        Wh1ch f00d iz bett3r ?
    </div>
    <img class="pizzaquiz__player" src="assets/sprites/minigames/pizzaquiz/pizza.gif" alt="MOI" draggable="false">
    <div class="pizzaquiz__answsers">
        <div class="pizzaquiz__answser">A - salmun ._.</div>
        <div class="pizzaquiz__c pizzaquiz__answser">C - PIZZER >:D</div>
        <div class="pizzaquiz__answser">B - revioli :v</div>
        <div class="pizzaquiz__answser">D - spinek :(</div>
    </div>
</div>