<style>
    .signal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-image: url('assets/sprites/minigames/signal/bg.jpg');
        background-size: 100% 100%;
        image-rendering: pixelated;
    }

    .signal__hero {
        position: absolute;
        bottom: 5%;
        width: 10%;
    }

    .signal__ufo {
        position: absolute;
        top: 5%;
        transition: left 650ms;
        width: 25%;
    }

    .signal__collines {
        position: absolute;
        width: 100%;
        bottom: 40%;
    }

    .signal__scientist {
        position: absolute;
        bottom: 5%;
        width: 9%;
        right: 4%;
    }

    .signal__scientist2 {
        position: absolute;
        bottom: 5%;
        width: 9%;
        left: 4%;
        transform: scaleX(-1);
    }
</style>

<div class="signal">
    <img draggable="false" src="assets/sprites/minigames/signal/character.gif" alt="personne" class="signal__hero">
    <img draggable="false" src="assets/sprites/minigames/signal/ufo.gif" alt="ufo" class="signal__ufo">
    <img draggable="false" src="assets/sprites/minigames/signal/collines.gif" alt="collines" class="signal__collines">
    <img draggable="false" src="assets/sprites/minigames/signal/scientist.gif" alt="collines" class="signal__scientist">
    <img draggable="false" src="assets/sprites/minigames/signal/scientist.gif" alt="collines"
        class="signal__scientist2">
    <img draggable="false" src="assets/sprites/minigames/signal/collines.gif" alt="collines" class="signal__collines">
</div>