<section class="credits">
    <div class="credits__left">
        <h2 class="credits__title">Created by</h2>
        <p class="credits__people">
            <a href="https://miamoalex.net/" class="mainmenu__link" target="_blank">@miamoalex</a>
            <br>
            <a href="https://www.instagram.com/01001101_01101111/" class="mainmenu__link" target="_blank">@mo</a>
            <br>
            <a href="https://crylotte.neocities.org/" class="mainmenu__link" target="_blank">@sukai909</a>
            <br>
            <a href="https://linktr.ee/Rusalkaaa" class="mainmenu__link" target="_blank">@rusalka</a>
            <br>
        </p>
        <br>
        <a href="https://discord.gg/QJdqJWNv" target="_blank" class="credits__link" data-i18n="discord">Join the discord
            and please let us know what you thought !</a>
    </div>
    <div class="credits__credits">
        <img src="assets/logo.png" alt="">
        <span class="credits__lyric">
            Why does the sun go on shining?
        </span>
        <img class="credits__spin" src="assets/sprites/credits/spin.gif" alt="alien">
        <span class="credits__lyric">
            Why does the sea rush to shore?
        </span>
        <div class="credits__horizontal">
            <img class="credits__makingoff" src="assets/sprites/credits/concept.jpg" alt="credits element">
            <img class="credits__makingoff" src="assets/sprites/credits/logos.jpg" alt="credits element">
        </div>
        <span class="credits__lyric">
            Don't they know it's the end of the world?
        </span>
        <span class="credits__lyric">
            'Cause you don't love me any more
        </span>

        <img class="credits__makingoff" src="assets/sprites/credits/1.png" alt="credits element">
        <span class="credits__lyric">
            Why do the birds go on singing?
        </span>
        <span class="credits__lyric">
            Why do the stars glow above?
        </span>
        <div class="credits__horizontal">
            <img class="credits__makingoff" src="assets/sprites/credits/2.png" alt="credits element">
            <img class="credits__makingoff" src="assets/sprites/credits/3.png" alt="credits element">
        </div>
        <span class="credits__lyric">
            Don't they know it's the end of the world?
        </span>
        <span class="credits__lyric">
            It ended when I lost your love
        </span>

        <div class="credits__horizontal">
            <img class="credits__makingoff" src="assets/sprites/credits/minigames.png" alt="credits element">
            <img class="credits__makingoff" src="assets/sprites/credits/firstGame.gif" alt="credits element">
        </div>

        <span class="credits__lyric">
            I wake-up in the morning, and I wonder
        </span>
        <span class="credits__lyric">
            Why everything's the same as it was
        </span>

        <img class="credits__makingoff" src="assets/sprites/credits/UI.png" alt="credits element">

        <span class="credits__lyric">
            I can't understand, no, I can't understand
            How life goes on the way it does
        </span>

        <div class="credits__horizontal">
            <img class="credits__makingoff" src="assets/sprites/credits/wizard1.png" alt="credits element">
            <img class="credits__makingoff" src="assets/sprites/credits/wizard2.png" alt="credits element">
        </div>

        <span class="credits__lyric">
            Why does my heart go on beating?
            Why do these eyes of mine cry?
        </span>

        <img class="credits__makingoff" src="assets/sprites/credits/wizard3.png" alt="credits element">
        
        <span class="credits__lyric">
            Don't they know it's the end of the world?
            It ended when you said, "Good-bye"
        </span>

        <img class="credits__makingoff" src="assets/sprites/credits/timelapse.gif" alt="TIMELAPSE">

        <span class="credits__lyric">
            ⏁⊑⏃⋏☍ ⊬⍜⎍ ⌇⍜ ⋔⎍☊⊑ ⎎⍜⍀ ⌿⌰⏃⊬⟟⋏☌ ⍜⎍⍀ ☌⏃⋔⟒ ⍙⟒'⍀⟒ ⌇⍜ ⏁⟟⍀⟒⎅..
        </span>

        <img class="credits__makingoff" src="assets/sprites/credits/rusalka.gif" alt="TIMELAPSE">

        <span class="credits__lyric">
            Don't they know it's the end of the world?
            It ended when you said, "Good-bye"
        </span>

        <img class="credits__door" src="assets/sprites/textures/golddoor.png" alt="credits element">
        <span class="credits__lyric" data-i18n="unlocked">
            Une porte s'est déverrouillée....
        </span>

    </div>
</section>