<section class="hub">
    <div class="hub__game"></div>
    <div class="hub__power"></div>
    <span class="hub__objective"></span>
    <div class="hub__dialog hide">
        <!-- <img class="hub__dialog-portrait" draggable="false" src="assets/sprites/portrait.png" alt="Portrait d'un personnage"> -->
        <p class="hub__dialog-text"></p>
    </div>
    <div class="hub__quest hide">
        <div class="hub__quest-profile">
            <div class="hub__quest-card">
                <img src="assets/sprites/portrait.png" alt="Portrait d'un personnage" class="hub__quest-portrait">
                <h3 class="hub__quest-name">Flash McQueen</h3>
                <span class="hub__quest-infos">
                    <span class="hub__quest-character">32 yo | B- | 6'11' | 220 lbs</span>
                    <span class="hub__quest-job">Cars district's Sheriff</span>
                    <span class="hub__quest-note">Protein addict</span>
                </span>
            </div>
        </div>
        <div class="hub__quest-lore">
            <div class="hub__quest-menu">
                <p class="hub__quest-dialog"></p>
                <button tabindex="-1" class="hub__quest-start">C'est parti !!</button>
            </div>
        </div>
        <span class="hub__quest-close"></span>
    </div>
    <img src="assets/sprites/hudArrow.png" class="hub__backtrack">
    <div class="hub__minimap">
        <span class="hub__minimap-player"></span>
    </div>
    <div class="hub__weather">
        <img src="assets/sprites/moon.png" alt="lunaire !!!!!" class="hub__weather-img">
        <span class="hub__weather-text">Waxing Gibbous <br> 83% / 0.49</span>
    </div>
    <span class="hub__time">06:03:12</span>
    <span class="hub__temperature">14°</span>
    <div class="hub__shop hide">
        <ul class="hub__shop-games"></ul>
        <button class="hub__shop-play">Jouer</button>
        <span class="hub__shop-close"></span>
    </div>
</section>