<div class="intro">
    <div class="intro__logo">
        <img src="assets/sprites/miamoo.png" alt="nintendo" class="intro__logo-img">
    </div>
    <span class="intro__title">⚠️ WARNING - HEALTH AND SAFETY</span>
    <span class="intro__desc" data-i18n="warning">Merci de jouer à Gleep Gym ! Ce jeu a été réalisé dans le cadre de la jam GameDev.JS 2024
        en 13 jours sur le thème imposé "POWER". <br> <br> Le jeu et le site www.gleep-gym.club n'utilisent pas de
        cookies pour le suivi et
        l'analyse, n'ont pas recours à la publicité et ne partage pas d'informations avec de tiers. <br><br> Une
        séquence du jeu contient
        des
        effets visuels
        pouvant déclencher des crises d'épilepsie chez certaines personnes, veuillez jouer avec prudence et consulter un
        professionnel de santé si vous ressentez des symptômes.</span>
    <span class="intro__stat"></span>
    <span class="intro__touch" data-i18n="click">Cliquez n'importe où pour continuer</span>
</div>