<section class="mainmenu">
    <div class="mainmenu__core">
        <img draggable="false" src="assets/logo.png" alt="Logo du Jeu" class="mainmenu__logo">
        <button id="hub" class="mainmenu__option" data-i18n="enter">ENTER</button>
        <button id="reset" class="mainmenu__option" data-i18n="newgame">NOUVELLE PARTIE</button>
        <button id="intro" class="mainmenu__option" data-i18n="intro">INTRO</button>
        <button id="minigame" class="mainmenu__option" data-i18n="credits">CREDITS</button>
    </div>

    <div class="mainmenu__logos">
        <img src="assets/sprites/gamejam.jpg" alt="gamejam" class="mainmenu__gamejam">
        <img src="assets/sprites/miamo.png" alt="miamo" class="mainmenu__miamo">
        <div class="mainmenu__langs">
            <img id="fr" src="assets/sprites/fr.png" alt="drapeau française" class="mainmenu__lang">
            <img id="en" src="assets/sprites/en.png" alt="drapeau anglais" class="mainmenu__lang">
        </div>
    </div>

    <p class="mainmenu__credits">
        <a href="https://miamoalex.net/" class="mainmenu__link" target="_blank">@miamoalex</a>
        <br>
        <a href="https://www.instagram.com/01001101_01101111/" class="mainmenu__link" target="_blank">@mo</a>
        <br>
        <a href="https://crylotte.neocities.org/" class="mainmenu__link" target="_blank">@sukai909</a>
        <br>
        <a href="https://linktr.ee/Rusalkaaa" class="mainmenu__link" target="_blank">@rusalka</a>
        <br>
        <span data-i18n="tech">
            made with 💖 using vanilla js & three.js
        </span>
    </p>
</section>